/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-img: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --accent-text-color: #353430;
  --button-color: #353430;
  --title-color: #ffc2e6;
  --topic-color: #353430;
  --accent-color: #ff8dcb;
  --desc-color: #353430;
  --accent-color-hover: rgba(50, 49, 45, 0.4);
}


@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --bg-img: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --accent-text-color: #353430;
    --button-color: #353430;
    --title-color: #ffc2e6;
    --topic-color: #353430;
    --accent-color: #ff8dcb;
    --desc-color: #353430;
    --accent-color-hover: rgba(50, 49, 45, 0.4);
  }
}
